* {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}
header {
  background-color: rgb(244, 113, 48);
  font-size: 20px;
  font-style: normal;
  color: black;
  text-align: center;
}
nav.a {
  margin: 30px;
}
.profile img {
  display: block;
  margin: 0 auto;
}
.video {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
table {
  background-color: seashell;
  color: black;
  text-align: center;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
#contact {
  background-color: rgb(192, 233, 10);
  color: black;
  text-align: center;
  font-size: 20px;
  width: 200px;
  margin: 0 auto;
  border-collapse: collapse;
}

.button {
  font-size: 20px;
  background-color: rgb(244, 113, 48);
}
.vietnam {
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-size: cover;
}
